[package]
name = "xterm-backend"
version = "0.1.0"
edition = "2024"

[dependencies]
itoa = { version = "1", default-features = false }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
codegen-units = 1
strip = true

